## Assignment1-ML-for-NLP2
For this assignment, you will work in groups. (See group assignment below.) 
Use the samples of Twitter data posted in the Input folder (corresponding to NYT and Fox News) and do the following:


1. Data cleaning. 

Remove stopwords, links, hashtags, etc. 

2. Feature engineering.

Create popularity and engagement measures, mentions (i.e. a tweet includes @), popular hashtags, breaking news, growth of followers, an indicator if the tweet is posted by NYT, and zero if the tweet belongs to Fox News.

3. Data Exploration and Prediction
- Is there a follower-tweet relationship? 
- What are the most frequent topics tweeted about by each outlet? Are there differences in outlets?
- Is there a relationship between the sentiment of the tweet and the outlet?
- Can we predict the outlet by the text of the tweet? Use classification methods (Naive Bayes, Logistic Regression, Support Vector Classifier using Count Vectorizer, Tf-Idf, or Word Embeddings). Which method performs better? Why?
- Do the usual word analogies hold in this sample?
- Create the most representative tweet by outlet (See  https://www.youtube.com/watch?v=zFScws0mb7M&t=23m03s and the Q&A for his description of it is implemented in the algorithm.)

Bonus 10 points: Create at least two own explorations.

Create a GitHub repository with your code and invite me to it.

In [1]:
import numpy as np
from numpy import array
import pandas as pd
df = pd.read_csv('../../Inputs/FoxNews_all_tweets.csv')
df

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,tweet_id,reference_status
0,1367531,FoxNews,20946694,456439,NaN,NaN,FLASHBACK: Ex-intel officials claimed the Hunt...,2022-03-18 15:50:00+00:00,26,39,68,0,1504847596006821894,NaN
1,1367531,FoxNews,20946694,456439,NaN,NaN,Biden must do more to counter Putin's propagan...,2022-03-18 15:45:00+00:00,23,94,92,7,1504846338097221635,NaN
2,1367531,FoxNews,20946694,456439,NaN,NaN,NASCAR: What to expect from Atlanta's super ne...,2022-03-18 15:40:00+00:00,10,9,21,0,1504845079344820224,NaN
3,1367531,FoxNews,20946694,456439,NaN,NaN,"BREAKING: Biden, Xi discuss Russia's war again...",2022-03-18 15:34:43+00:00,33,71,87,3,1504843752426323990,NaN
4,1367531,FoxNews,20946694,456439,NaN,NaN,Transgender swimmer's NCAA championship win 'j...,2022-03-18 15:30:00+00:00,51,69,254,4,1504842564117024770,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1324,1367531,FoxNews,20946696,456439,NaN,NaN,Social media explodes following Jussie Smollet...,2022-03-11 16:45:00+00:00,20,66,94,5,1502324722264166402,NaN
1325,1367531,FoxNews,20946696,456439,NaN,NaN,Congress gets up close view of 'horrific' Russ...,2022-03-11 16:35:00+00:00,35,72,117,2,1502322205597712385,NaN
1326,1367531,FoxNews,20946696,456439,NaN,NaN,GOP lawmaker slams Biden's blame game on sky-h...,2022-03-11 16:25:00+00:00,59,160,263,6,1502319689137012740,NaN
1327,1367531,FoxNews,20946696,456439,NaN,NaN,Prince William’s comment about ‘alien’ Ukraine...,2022-03-11 16:15:00+00:00,15,38,53,6,1502317172722323456,NaN
1328,1367531,FoxNews,20946696,456439,NaN,NaN,Barr believes Durham will 'get to the bottom' ...,2022-03-11 16:05:00+00:00,48,113,261,6,1502314656236453891,NaN

In [1]:
# Abays code

In [5]:
df2 = pd.read_csv('../../Inputs/nytimes_all_tweets.csv')
df2

,author_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count,tweet_id,reference_status
0,807095,nytimes,52297192,466267,NaN,NaN,Hong Kong said that more than one million peop...,2022-03-18 15:45:19+00:00,83,30,160,16,1504846417063460916,NaN
1,807095,nytimes,52297192,466267,NaN,NaN,The pandemic is not yet over. But New York’s e...,2022-03-18 15:30:10+00:00,43,27,142,5,1504842606269841455,NaN
2,807095,nytimes,52297192,466267,NaN,NaN,"Alexander Chekmenev, a Ukrainian photographer,...",2022-03-18 15:20:04+00:00,76,13,303,4,1504840063397646336,NaN
3,807095,nytimes,52297192,466267,NaN,NaN,"The format of “American Song Contest,” hosted ...",2022-03-18 15:15:03+00:00,29,9,133,7,1504838803097272351,NaN
4,807095,nytimes,52297192,466267,NaN,NaN,"China’s top leader, Xi Jinping, told President...",2022-03-18 15:12:04+00:00,75,52,268,10,1504838050479751209,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,807095,nytimes,52297191,466267,NaN,NaN,"Kyrylo Lysov, 22, and his girlfriend Yelyzavet...",2022-03-11 16:40:18+00:00,737,170,5277,54,1502323539197706243,NaN
619,807095,nytimes,52297191,466267,NaN,NaN,Our journalists are looking into how companies...,2022-03-11 16:30:12+00:00,32,38,150,7,1502320998636527619,NaN
620,807095,nytimes,52297191,466267,NaN,NaN,Breaking News: Alec Baldwin gave his most deta...,2022-03-11 16:18:19+00:00,59,81,227,20,1502318008844406786,NaN
621,807095,nytimes,52297191,466267,NaN,NaN,A shipwreck from 1891 has been discovered in L...,2022-03-11 16:10:04+00:00,88,15,361,16,1502315929941815305,NaN
622,807095,nytimes,52297191,466267,NaN,NaN,Breaking News: President Biden called for susp...,2022-03-11 15:58:09+00:00,93,44,471,7,1502312934730522624,NaN

In [2]:
#ABAy's code